body{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #12122b;
  color: white;
  line-height: 1.6;
  margin: 0px;
   margin: 0;
  padding: 0;
}

header{
  position: relative;
  background-color: #1a1a3a;
  padding: 20px 40px;
  border: 3.5px solid;
  border-bottom-color: #f27435;
  border-left-color: #12122b;
  border-right-color: #12122b;
  border-top-color: #12122b;
}

header nav a{
  position: relative;
  text-decoration: none;
  color: #f0f0f0;
  font-weight: bold;
  margin-right: 25px;
  font-size: 16px;
}

#thomazTitulo{
  position: relative;
  font-size: 36px;
  color: White;
  text-align: center;
}

#imgThomazIndex {
  position: relative;
  left: 100px;
  top: 100px;
  border: 3.5px solid;
  border-color: #f27435;
  border-radius: 85px;
}

#imgNuvem {
  position: relative;
  top: -920px;
  left: 50px;
}

#imgNuvem1 {
  position: relative;
  top: -890px;
  left: 50px;
}
#imgNuvem2 {
  position: relative;
  top: -2630px;
  left: 50px;
}
#imgNuvem3 {
  position: relative;
  top: -2120px;
  left: 50px;
}
#imgNuvem4 {
  position: relative;
  top: -3200px;
  left: 50px;
}
.principal{
  position: relative;
  background-color: #1a1a3a;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto 40px auto;
  padding: 30px;
  border-radius: 20px;
}

img {
  border-radius: 50px;
}

#aaindex {
  color: white;
}

.principal article{
  position: relative;
  left: 630px;
  top: -270px;
  width: 650px;
  text-align: justify;
}

.principal2 {
  position: relative;
  background-color: #1a1a3a;
  border-radius: 60px;
  padding: 55px;
  max-width: 1700px;
  left: 50px;
}

.imgFormacao {
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
  border: 2px solid;
  border-color: #f27435;
}

.principal3 {
  position: relative;
  background-color: #1a1a3a;
  border-radius: 60px;
  padding: 55px;
  max-width: 1700px;
  left: 50px;
  max-height: -1300px;
  margin: 0;
  padding-bottom: 0;
}

.imgDisciplinas {
  background-color: white;
  border-radius: 10px;
  border: 2px solid;
  border-color: #f27435;
  padding: 0px;
  margin: 0px;
  border-radius: 50px;
}

.principal4 {
  position: relative;
  background-color: #1a1a3a;
  border-radius: 60px;
  padding: 55px;
  max-width: 1700px;
  left: 50px;
}

#tituloDD {
  position: relative;
  font-size: 40px;
  padding: 0px;
  left: 10px;
}

#tituloD {
  position: relative;
  font-size: 30px;
  padding: 30px;
  left: -20px;
}

#horarioDD {
  position: relative;
  text-align: justify;
  max-width: 850px;
  border: 2px solid;
  padding: 20px;
  border-radius: 20px;
  border-color: #f27435;
  top: -450px;
}

.disciplinas {
  position: relative;
  font-size: 20px;
}

.dici {
  font-size: 25px;
}

.disciplina-a1 h4{
  position: relative;
  left: 390px;
  top: -250px;
}
.disciplina-a1 p {
  position: relative;
  left: 390px;
  top: -280px;
  width: 300px;
  text-align: justify;
}

.disciplina-a2 h4{
  position: relative;
  left: 390px;
  top: -230px;
}
.disciplina-a2 p {
  position: relative;
  left: 390px;
  top: -250px;
  width: 300px;
  text-align: justify;
}

.disciplina-a3 h4{
  position: relative;
  left: 390px;
  top: -230px;
}
.disciplina-a3 p {
  position: relative;
  left: 390px;
  top: -250px;
  width: 300px;
  text-align: justify;
}

.img02 {
  position: relative;
  top: -200px;
}

.img03 {
  position: relative;
  top: -350px;
}

aside{
  background-color: #3a3a85;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  top: 750px;
  right: 740px;
}

aside p{
  margin-bottom: 15px;
  font-size: 16px;
  color: white;
}

section {
    color: white;
}

footer{
  position:relative;
  background-color: #1a1a3a;
  color: #f0f0f0;
  text-align: center;
  padding: 15px 0;
  bottom: 0;
  width: 100%;
  margin-top: 110px;
  border-top: 2px solid;
  border-top-color:#f27435 ;
}

.principal_contato {
  position: relative;
  color: white;
  background-color: #1a1a3a;
  width: 80%;
  max-width: 1500px;
  margin: 0 auto 40px auto;
  padding: 30px;
  border-radius: 20px;
}

.decoracao_contato {
  position: relative;
  background-color: rgb(41, 46, 90);
  width: 500px;
  left: 800px;
  top: -150px;
  padding: 30px;
  border-radius: 20px;
  margin: 0px;
}

.entre_Contato1 {
  position: relative;
  left: 50px;
  top: 100px;
  font-size: 30px;
}

.entre_Contato2 {
  position: relative;
  left: 50px;
  top: 100px;
  width:700px;
  text-align: justify;
  padding: 0;
}

.entre_Contato3 {
  position: relative;
  top: 100px;
  left: 48px;
  font-size: 25px;
}

#nome {
  width: 500px;
}

#email {
  width: 500px;
}

#assunto {
  width: 500px;
}

#mensagem {
  width: 500px;
}

.ft-sobre {
  position: relative;
  border: 3px solid;
  border-color: #f27435;
  top: -150px;
}

.ft-sobrea1 {
  position: relative;
  border: 3px solid;
  border-color: #f27435;
  top: -100px;
}

.foto-card {
  position: relative;
  font-size: 20px;
  left: 50px;
}

.card1 {
  position: relative;
  left: 430px;
  font-size: 25px;
  text-align: justify;
}

.a1sobre {
  position: relative;
  top: 160px;
}

.a2sobre {
  position: relative;
  top: 160px;
}

.a3sobre {
  position: relative;
  top: 160px;
}

.textSobre1 {
  position: relative;
  left: 430px;
  top: 150px;
  width: 600px;
  text-align: justify;
}

.textSobre2 {
  position: relative;
  left: 430px;
  top: 150px;
  width: 600px;
  text-align: justify;
}

.textSobre3 {
  position: relative;
  left: 430px;
  top: 150px;
  width: 600px;
  text-align: justify;
}
#decoracao-sobre {
  position: relative;
  background-color: #1a1a3a;
  border-radius: 60px;
  padding: 55px;
  max-width: 1700px;
  left: 50px;
}

.decoracao-sobre2 {
  position: relative;
  text-align: justify;
  max-width: 1200px;
  border: 2px solid;
  padding: 20px;
  border-radius: 20px;
  border-color: #f27435;
  top: -400px;
  left: 30px;
}

.sobre-ft1 {
  position: relative;
  top: -100px;
}

.sobre-ft2 {
  position: relative;
  top: -300px;
}

.sobre-ft3 {
  position: relative;
  top: -380px;
}

.decoracao-formacao {
  position: relative;
  text-align: justify;
  max-width: 850px;
  border: 2px solid;
  padding: 20px;
  border-radius: 20px;
  border-color: #f27435;
  top: 40px;
  left: 30px;
}

.titulosformacao {
  position: relative;
  font-size: 25px;
  left: 45px;
}

.formacaob {
  position: relative;
  font-size: 20px;
  padding: 10px;
}